.breadcrumb__stack {
  display: flex;
  gap: 11px;

  @include media-breakpoint-down(md) {
    margin-top: 5px;
  }
}

.breadcrumb__item {
  display: flex;
  font-size: 16px;
  color: #194484;
  font-family: "Montserrat";
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.item__arrow {
  border-bottom: 2px solid #194484;
  border-right: 2px solid #194484;
  height: 6px;
  margin-top: 8px;
  transform: rotate(-45deg);
  width: 6px;
  margin-left: 10px;

  @include media-breakpoint-down(lg) {
    margin-top: 4px;
  }
}
