.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @include media-breakpoint-between(sm, md) {
    max-width: $breakpoints-sm;
  }

  @include media-breakpoint-between(md, lg) {
    max-width: $breakpoints-md;
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: $breakpoints-lg;
  }

  @include media-breakpoint-between(xl, xxl) {
    max-width: $breakpoints-xl;
  }

  @include media-breakpoint-between(xxl, xxxl) {
    max-width: $breakpoints-xxl;
  }

  @include media-breakpoint-up(xxxl) {
    max-width: $breakpoints-xxxl;
  }
}
