.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @include media-breakpoint-between(sm, md) {
    max-width: $breakpoints-sm;
  }

  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-between(md, lg) {
    max-width: $breakpoints-md;
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: $breakpoints-lg;
  }

  @include media-breakpoint-between(xl, xxl) {
    max-width: $breakpoints-xl;
  }

  @include media-breakpoint-up(xxl) {
    max-width: $breakpoints-xxl;
  }
}
